@use "../abstracts" as *;
/*----------------------------------------*/
/*  00. FOOTER CSS START
/*----------------------------------------*/

.footer {
  &__bot {
    padding: 5px 0;
    text-align: center;

    background: rgba(255, 255, 255, 0.05);

    p {
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 5px;
      letter-spacing: 0.02em;
      font-size: 12px;
    }

    a {
      max-width: 92px;

      img {
        height: auto;
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__inner {
    display: flex;

    @media (max-width: 991.98px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }

    @media (max-width: 575.98px) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  &__about {
    margin-right: 153px;

    @media (max-width: 1399.98px) {
      margin-right: 40px;
    }

    @media (max-width: 991.98px) {
      order: -1;
      margin-right: 0;
    }

    @media (max-width: 575.98px) {
      text-align: center;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 252px;

    @media (max-width: 991.98px) {
      order: -1;
    }

    @media (max-width: 575.98px) {
      text-align: center;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: 30px;
    display: block;

    max-width: 228px;

    img {
      height: auto;
    }

    @media (max-width: 575.98px) {
      margin: 0 auto 30px;
    }
  }

  &__about-img {
    max-width: 180px;
    object-fit: contain;
    height: auto;
  }

  &__copyright {
    color: $white;
    margin-bottom: 22px;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;

    margin-right: 20px;

    a {
      display: block;
      line-height: 17px;

      transition: transform 0.2s ease;

      &:hover {
        transform: translateX(4px);
      }
    }

    &-list {
      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          font-size: 16px;
          font-weight: 500;
          color: $white;
        }
      }
    }

    &-sublist {
      margin-top: 10px;

      li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }

        a {
          font-size: 14px;
          font-weight: 400;
          color: $grey;
          opacity: 0.8;
        }
      }
    }

    @media (max-width: 1399.98px) {
      margin-right: 40px;
      grid-gap: 40px;
      grid-area: auto / 1 / auto / 3;
    }

    @media (max-width: 575.98px) {
      margin-right: 0;
    }

    @media (max-width: 575.98px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      grid-area: auto;
      justify-items: center;
      text-align: center;
    }
  }

  &__contacts-item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    img {
      margin-right: 8px;
    }

    a {
      color: $grey;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__contacts-phones {
    display: flex;

    img {
      margin-right: 12px;
    }

    a {
      font-weight: 500;
      font-size: 14px;
      color: $white;

      &:hover {
        transform: scale(1.08);
        text-decoration: underline;
      }
    }

    &-numbers {
      margin-bottom: 15px;

      li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &-social {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30px, 30px));
      grid-gap: 10px;

      a {
        display: block;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.08);
        }
      }
    }
  }
}
