@use "../abstracts" as *;
/*----------------------------------------*/
/*  00. FOOTER CSS START
/*----------------------------------------*/

.footer {
  &__inner {
    display: flex;
  }

  &__about {
    margin-right: 153px;
  }

  &__contacts {
    max-width: 252px;
  }

  &__logo {
    margin-bottom: 30px;
    display: block;
  }

  &__about-img {
    max-width: 180px;
    object-fit: contain;
  }

  &__copyright {
    color: $white;
    margin-bottom: 22px;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;

    margin-right: 20px;

    a {
      display: block;

      transition: transform 0.2s ease;

      &:hover {
        transform: translateX(4px);
      }
    }

    &-list {
      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          font-size: 16px;
          font-weight: 500;
          color: $white;
        }
      }
    }

    &-sublist {
      margin-top: 10px;

      li {
        margin-bottom: 8px;

        a {
          font-size: 14px;
          font-weight: 400;
          color: $grey;
          opacity: 0.8;
        }
      }
    }
  }

  &__contacts-item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    img {
      margin-right: 8px;
    }

    a {
      color: $grey;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__contacts-phones {
    display: flex;

    img {
      margin-right: 12px;
    }

    a {
      font-weight: 500;
      font-size: 14px;
      color: $white;

      &:hover {
        transform: scale(1.08);
        text-decoration: underline;
      }
    }

    &-numbers {
      margin-bottom: 15px;

      li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &-social {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30px, 30px));
      grid-gap: 10px;

      a {
        display: block;
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.08);
        }
      }
    }
  }
}
