@use "../abstracts" as *;
/*----------------------------------------*/
/*  03. SLIDER CSS START
/*----------------------------------------*/

.slider {
  &__area {
    @include background();

    &-wrapper {
      @media (max-width: 1199.98px) {
        flex-direction: column-reverse;
        gap: 22px;
      }
    }

    @media (max-width: 1199.98px) {
      .custom-col-2 {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
  &__inner {
    & .slick-dots {
      position: absolute;
      bottom: 10px;
      left: 50%;
      @include transform(translateX(-50%));
      & li {
        display: inline-block;
        & button {
          font-size: 0;
          width: 7px;
          height: 7px;
          background: $border;
          @include border-radius(7px);
          margin: 0 5px;
        }
        &.slick-active {
          & button {
            width: 35px;
            background: $white;
          }
        }
      }
    }
  }
}

.single-slider {
  @include border-radius(3px);
  overflow: hidden;
  &-4 {
    @include border-radius(10px);
  }
}

.slider-intro {
  border-radius: 5px;

  &__inner {
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: 75px 65px 77px 43px;

    @media (max-width: 991.98px) {
      flex-direction: column;
      padding: 30px 30px 60px 30px;
    }

    @media (max-width: 767.98px) {
      padding: 30px;
    }
  }

  &__logo {
    max-width: 434px;
    margin-bottom: 40px;
    height: auto;

    @media (max-width: 991.98px) {
      max-width: 300px;
      margin-bottom: 20px;
    }

    @media (max-width: 767.98px) {
      max-width: 200px;
    }
  }

  &__title {
    color: $white;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 40px;

    @media (max-width: 991.98px) {
      font-size: 22px;
      margin-bottom: 20px;
    }

    @media (max-width: 767.98px) {
      font-size: 18px;
    }

    @media (max-width: 575.98px) {
      font-size: 16px;
    }
  }

  &__link {
    display: inline-block;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: $white;
    padding: 12px 43px;
    color: $black;
    font-weight: 500;

    @media (max-width: 991.98px) {
      padding: 8px 50px;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    max-width: 520px;
    object-fit: contain;
    object-position: 50% 50%;
    height: auto;

    @media (max-width: 1399.98px) {
      max-width: 350px;
    }

    @media (max-width: 991.98px) {
      max-width: 270px;
    }

    @media (max-width: 767.98px) {
      max-width: 200px;
    }

    @media (max-width: 479.98px) {
      display: none !important;
    }
  }

  &__descrip {
    &-top {
      max-width: 486px;

      margin-bottom: 74px;

      @media (max-width: 991.98px) {
        max-width: 370px;

        margin-bottom: 50px;
      }

      @media (max-width: 767.98px) {
        max-width: 230px;
        margin-bottom: 30px;
      }

      @media (max-width: 479.98px) {
        max-width: unset;
      }
    }

    &-bot {
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 27px;
        max-width: 809px;

        li {
          position: relative;
          color: $white;
          line-height: 1.2;
          font-size: 16px;
          max-width: 182px;
          padding-left: 35px;

          &::before {
            position: absolute;

            left: 0;
            top: -2px;

            content: url("../img/svg/check-circle.svg");
          }
        }

        @media (max-width: 767.98px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 479.98px) {
          grid-template-columns: repeat(1, 1fr);

          li {
            font-size: 14px;
            max-width: unset;
          }
        }
      }
    }
  }
}
